@import url("htts://fonts.googleapis.com/css?family=Roboto");

:root {
    --cor-primaria: white;
    --cor-secundaria: #0b0909;
    --cor-terciaria: #4e9eb9;
    --cor-hover: #1086ab;

    --font-primaria: "Roboto", sans-serif;
    --font-secundaria: "Roboto", sans-serif;
}

.nav a:hover {
    color: var(--cor-secundaria);
}

img:hover {
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

section.imagens img:hover {
    width: 530px;
    /* height: 550px; */
}

div.redes figure {
    text-align: center;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    display: inline-flex;
    gap: 20px;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    padding: 2% 0% 0% 15%;
}

nav {
    display: flex;
    gap: 80px;
}

nav a {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

section.imagens {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 11em;
}

section.imagens figure {
    box-shadow: 0px 0px 7px 1px black;
}

section.imagens figure img {
    width: 100%;
    height: 100%;
}



.apresentacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.apresentacao h1{
    font-size: 2rem;
    font-family: var(--font-primaria);
}

.apresentacao a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao h3 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-secundaria);
}

.apresentacao figure {
    display: flex;
}


.apresentacao figure img {
    width: 80px;
}


.apresentacao a{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}


.apresentacao a:hover {
    color: var(--cor-hover);
}

footer {
    color: #000000;
    background-color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    display: inline-flex;
    box-shadow: 0px 8px 6px 7px black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

