__pycache__
.tmp
~$la
Inglês/Outubro/Aula 21/~$xto Why Language Skills Are Essential For a Career In Tech.docx
Inglês/Outubro/Aula 27/~$la 09 Why Language Skills Are Essential For a Career In Tech exercise 2.docx
Inglês/Outubro/Aula 27/~WRL2204.tmp
