input {
    border: round;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    display: block;
}

input#mensagem {
    height: 200px;
}

.enviar {
    margin-top: 10px;
    height: 35px;
    width: 30%;
    border: round;
    border-radius: 10px;
    background-color: rgb(82, 123, 82);
}

fieldset {
    width: 500px;
    align-self: center;
    text-align: center;
    justify-items: center;
}


input.enviar {
    width: 50%;
    height: 45px;
}

#formulario {
    align-self: center;
    text-align: center;
    margin-top: auto;
    color: white;
    width: 100%;
    justify-items: center;
    height: auto;
    margin: 30px;
}

img#mulher {
    width: 70%;
    margin-right: 20px;
    height: 49%;
    display: block;
    margin-top: 20px;
    margin-left: 76px;
}

img#imagem_contato {
    width: 325px;
    margin-right: 20px;
    height: 26%;
    display: block;
    margin-top: 70px;
    margin-left: 40px;
}

img:hover {
    width: 42%;
    height: 52%;
}


#contato {
    display: inline-flex;
    align-self: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: auto;
    width: auto;
    /* height: ; */
    background-color: rgb(42, 37, 37);
}

div#imagens {
    display: block;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;    
}