input {
    width: 50%;
    margin-top: 10px;
    height: 30px;
    display: block;
}

Button{
    width: 50%;
    background-color: rgb(42, 37, 37);
    color: white;
    margin-top: 15px;
}


div#login, div#cadastro {
    align-self: center;
    text-align: center;
    margin-top: auto;
    background-color: rgb(42, 37, 37);
    color: white;
    width: 30%;
    justify-items: center;
    height: 380px;
}

div#cadastro {
    display: none;
}