div#imagens {
    display: grid;
    grid-template-columns: repeat(3, 700px);
    margin: auto;
    align-self: center;
    width: auto;
    height: auto;
    align-content: center;
}

div#imagens img{
    width: 333px;
    height: 275px;
    margin-top: 20px;
    margin-left: 79px;
}

div#imagens img#unimed {
    height: 140px;
    margin-top: 70px;
    margin-left: 60px;
}

div#imagens img:hover {
    width: 339px;
    height: 285px;
}

div#imagens img#unimed:hover {
    height: 145px;
}