#cacador {
    # margin = (top, right, bottom, left)
    margin: 8 0 0 10;
}

#zumbi {
    margin: 5 0 0 10;
}

#porta {
    margin: 0 0 0 10;
}

#chave {
    margin: 0 0 0 10;
}

#container {
    margin: 2 0 0 0;
}