div#noticiaPrincipal p {
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
    width: 96%;
    justify-self: center;
}

div#noticiaPrincipal aside {
   box-shadow: 0px 1px 5px 2px;
   background-color: rgb(235, 235, 233);
   color: black;
   position: absolute;
   width: 800px;
   right: 4px;
   padding: 20px;
   margin-top: 5px;
   padding-right: 0px;
   margin-right: 50px;
}

div#noticiaPrincipal {
    background-color: rgb(57, 50, 50);
    width: 98%;
    height: auto;
    color: rgb(200, 199, 199);
    text-align: center;
    box-shadow: 0px 1px 5px 2px black;
    margin-left: 20px;
}

div#noticiaPrincipal img {
    width: 100%;
    margin-top: 4px;
    height: 668px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px 2px black;
}

div#noticiaPrincipal img:hover {
    width: 100%;
    height: 672px;
}

div#noticiaPrincipal figure {
    width: 50%;
    margin-top: 10px;
}

