input {
    width: 60%;
    height: 50px;
    display: block;
    margin: auto;
    font-size: 12pt;
    margin-top: 30px;
}

#email {
    display: block;
}

input.entrar {
    font-size: 16pt;
}

p {
    font-size: 12pt;
}

p#primeiro_p {
    margin-top: 30px;
}

label {
    margin: auto;
    margin: 20px;
    display: block;
    width: 100%;
    /* float: left */
    /* margin-left: 100px; */
    /* margin-bottom: 50px; */
}

label#email {
    /* margin-top: 40px; */
}

input.entrar {
    /* display: none; */
    /* position: absolute; */
    /* bottom: 0; */
}

legend {
    /* color: #343d46; */
    font-size: 30pt;
    font-family: "Noto Serif", "Serif";
    /* text-shadow: 1px 2px 4px rgb(75, 63, 63); */
    /* text-align: center; */
}

Button {
    width: 50%;
    background-color: rgb(42, 37, 37);
    color: white;
    margin-top: 15px;
}


div#login,
div#cadastro {
    align-self: center;
    margin-top: auto;
    background-color: rgb(42, 37, 37);
    color: white;
    width: 45%;
    justify-items: center;
    height: 65%;
}

div#cadastro {
    display: none;
}

div#login img,
div#cadastro img {
    width: 13%;
    height: 20%;
    margin-bottom: 8px;
    margin-top: 10px;
    display: block;
    /* margin-left: 130px; */
    /* float: justify; */
    /* float: left; */
    /* width: 100px; */
    /* height: 100px; */
    border-radius: 50%;
    float: none;
    object-fit: cover;
}

fieldset {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
    /* background-color: #ffff; */
    /* border: none; */
    /* box-shadow: 1px 2px 6px rgb(153, 145, 145); */
}

form {
    width: 90%;
    height: 90%;

    justify-items: center;
    display: block;
    /* padding-left: 400px; */
    /* float: left; */
    /* margin: 80px; */
}