#hg_container1 {
    background: white;
    height: 15;
    width: 100%;
    color: black;
}

VerticalGroup {
    layout: grid;
    grid-size: 2 0;
    grid-gutter: 3 0;  
}


Button {
    color: green;
    width: 20;
    background: black;
}

TextArea {
    width: 20%;
}