TelaLeitor {
    layout: grid;
    align: center middle;
    grid-size: 2 4;
    grid-gutter: 1 2;  
}

TelaDevolucao TextArea {
    height: 5;
}

TelaDevolucao Input {
    width: 70%;
}

TelaDevolucao #hg_pesquisa {
    margin: 1;
}


