.stars {
    color: #ffcc00;
    cursor: pointer;
}

.review .stars {
    cursor: default;
}

a {
    top: 10px;
    right: 10px;
    color: #000000;
    font-size: 20px;
    transition: color 0.3s ease;
}

.fa-heart {
    color: #ff0000;
    text-decoration: none;
}